<% layout('layouts/boilerplate') %>

<h2>Upload Image</h2>

<form action="/listings" method="POST" enctype="multipart/form-data">
    
    <!-- text field -->
    <input type="text" name="title" placeholder="Enter title" required>

    <!-- file upload -->
    <input type="file" name="image" required>

    <button type="submit">Submit</button>
</form>